.TovarCont {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 150px;
}

.TovarH {
    color: #0F303F;
    font-size: 38px;
    font-family: "Cormorant", serif;
    font-weight: 400;
    display: flex;
    margin-top: 180px;
    justify-content: center;
}